body{
    padding: 0;
    margin: 0;
}
.text{
    margin-top: 30px;
}
.rows{
    margin-top: 15px;
}
.row{
    height: 50px;
}
.row1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.row1-1{
    background-color: red;
}
.row1-2{
    background-color: blue;
}
.row2{
    display: grid;
    grid-template-columns: 9fr 50px;
}

.row2-1{
    background-color: green;
}
.row2-2{
    background-color: blue;
}
.row3{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}
.row3-1{
    background-color: yellow;
}
.row3-2{
    background-color: black;
}
.row3-3{
    background-color: blue;
}
.row4{
    display: grid;
    grid-template-columns: 1fr 50px;
}
.row4-1{
    background-color: green;
}
.row4-2{
    background-color: yellow;
}
.row5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.row5-1{
    background-color: red;
    height: 30px;
    width: 30px;
}
.row6{
    background-color: red;
    display: flex;
    justify-content: center;
}
.row6-1{
    background-color: blue;
    width: 50px;
}
.row7{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.row7-1{
    background-color: red;
}
.row7-2{
    background-color: green;
    display: flex;
    align-items: center;

}
.row7-2__1{
    background-color: blue;
    height: 25px;
    width: 100%;
}
.row8{
    background-color: orange;
    display: flex;
    justify-content: space-between;
}
.row8-box{
    height: 50px;
    width: 50px;
    background-color: green;
}
.row9{
    background-color: orange;
    display: flex;
    justify-content: space-between;
}
.row9-box{
    height: 50px;
    width: 200px;
    background-color: green;
}
@media(max-width:1030px){
    .row9-box{
        width: 150px;
    }
}
@media(max-width:780px){
    .row9-box{
        width: 100px;
    }
}
@media(max-width:560px){
    .row8-box{
        width: 35px;
    }
    .row9-box{
        width: 65px;
    }
}
@media(max-width:340px){
    .row8-box{
        width: 25px;
    }
    .row9-box{
        width: 50px;
    }
    
}
@media(max-width:300px){
    .row8-box{
        width: 15px;
    }
    .row9-box{
        width: 35px;
    }
    
}